version: '3.8'
services:
  web:
    build: .
    ports:
      - "10000:10000"
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - ADMIN_IDS=${ADMIN_IDS}
      - PORT=10000
    volumes:
      - ./data:/app/data
